@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 1px;
}

/*--------------------------- Navbar --------------------------- */
.navbar {
    width: 100%;
    height: 80px; /* ?? */
    background: transparent;
    position: fixed;
    z-index: 100;
}

#brand-logo {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    top: 25px; /* 12 */
    left: 100px;
}

#brand-logo img {
    width: 40px;
    height: 23px;
}

.navbar-nav {
    float: right;
}

.navbar-nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    top: 31px; /* 18 */
    right: 100px;
    font-weight: bold;
}

#projects-btn {
    margin-left: 15px;
}

/*--------------------------- Landing Page --------------------------- */
#landing-page {
    height: 100vh;
    background-color: #632727; /* #536684 */
}

.info-wrapper {
    margin: 0 auto;
    width: 500px;
    padding-top: 50px;
}

#name-title {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}

.page-divider {
    margin-top: -35px;
    width: 400px;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
}

#job-title {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}

#issa-me {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

/*--------------------------- About Page --------------------------- */
#about {
    background-color: #fff;
    height: 100vh;
}

.about-wrapper {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

#about-title {
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    padding: 0px 10px 5px 0px;
    margin: -3px 0px -5px 0px;
}

#about-text {
    text-align: left;
    font-size: 25px;
}


/*--------------------------- Projects Page --------------------------- */
#projects {
    background-color: #632727;
}

#projects-title {
    font-size: 35px;
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
}

.projects-wrapper {
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 10px;
    width: 450px;
}

.projects-wrapper h3 {
    text-align: center;
}

.projects-wrapper p {
    text-align: center;
}


/*--------------------------- Footer --------------------------- */
#page-ends {
    width: 100%;
    background-color: #fff;
}

.social-media {
    text-align: center;
    margin-top: 50px;
}

.social-media a {
    color: #000;
    font-size: 50px;
    margin: 0px 10px;
}

.social-media a:hover {
    color: #632727;
}

#cp-hz {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #000;
    background-color: #fff;
}